<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- example with namespace p -->
    <bean id="t1000" class="by.home.impls.robot.ModelT1000"
          p:hand-ref="toshibaHand"
          p:leg-ref="sonyLeg"
          p:head-ref="toshibaHead">

        <!-- example with ref -->
        <!--<constructor-arg ref="sonyHand"/>-->
        <!--<constructor-arg ref="sonyLeg"/>-->
        <!--<constructor-arg ref="sonyHead"/>-->

        <!-- example with value -->
        <constructor-arg value="2019" index="1" type="int"/>
        <constructor-arg value="silver" index="0" type="String"/>
        <constructor-arg value="true" index="2" type="boolean"/>

        <!-- this property are setting after constructor-args -->
        <!--<property name="hand" ref="toshibaHand"/>-->
        <!--<property name="head" ref="toshibaHead"/>-->
        <!--<property name="leg" ref="toshibaLeg"/>-->

    </bean>

    <!-- using other constructor -->
    <bean id="t1000Empty" class="by.home.impls.robot.ModelT1000">

        <constructor-arg ref="sonyHand"/>
        <constructor-arg ref="sonyLeg"/>
        <constructor-arg ref="toshibaHead"/>

    </bean>

    <bean id="sonyHand" class="by.home.impls.sony.SonyHand"/>
    <bean id="sonyHead" class="by.home.impls.sony.SonyHead"/>
    <bean id="sonyLeg" class="by.home.impls.sony.SonyLeg"/>

    <bean id="toshibaHand" class="by.home.impls.toshiba.ToshibaHand"/>
    <bean id="toshibaHead" class="by.home.impls.toshiba.ToshibaHead"/>
    <bean id="toshibaLeg" class="by.home.impls.toshiba.ToshibaLeg"/>

</beans>